<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	href="../static/CSS/addCSS.css" th:href="@{/CSS/addCSS.css}">
<title>Add Toy</title>
</head>
<body>

<div class="input">

	<h3>Email is sent successfully!</h3>
	<a th:href="@{/}"><label>Go Home</label></a>

	<div sec:authorize="isAuthenticated()">
		User's name: <span sec:authentication="name"></span>
		<br>
		Roles: <span sec:authentication="principal.authorities"></span>
		<br>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>
	</div>
	
</div>

</body>
</html>