<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	href="../static/CSS/viewCSS.css" th:href="@{/CSS/viewCSS.css}">
<title>View Toys</title>
</head>
<body>
<h1>View Toys</h1>
	<div sec:authorize="isAuthenticated()">
		User's name: <span sec:authentication="name"></span>
		<br>
		Roles: <span sec:authentication="principal.authorities"></span>
		<br>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>
	</div>

<div class="list">
<table border="1">
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Quantity</th>
	</tr>
	<tr th:each="t : ${toyList}">
		<td th:text="${t.name}"></td>
		<td th:text="${t.price}"></td>
		<td th:text="${t.quantity}"></td>
		<td><a href="" th:href="@{/edit/{id}(id=${t.id})}">EDIT</a></td>
		<td><a href="" th:href="@{/delete/{id}(id=${t.id})}">DELETE</a></td>
	</tr>
</table>

<br>
<a th:href="@{/}">Go Home</a>
</div>

</body>
</html>